@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
}

.navbar-link {
  @apply bg-[#333] text-white uppercase tracking-widest font-bold rounded-md 
         shadow-[0_5px_15px_0_rgba(0,0,0,0.15)] hover:bg-[#868686] hover:text-[#333] hover:scale-125 transition-all duration-300
         py-2 px-4 text-sm w-[7.5rem] flex justify-center items-center border border-gray-400;
}

@media (max-width: 768px) {
  .navbar-link {
    @apply w-36 h-8 text-base justify-center border-0;
  }
}

.hero-heading {
  @apply text-[2rem] md:text-[3rem] lg:text-[5rem] font-extrabold text-[#333] uppercase;
}

.hero-secondary {
  @apply max-w-2xl text-[1rem] md:text-[1.75rem] lg:text-[2rem] text-[#33333];
}

.hero-link {
  @apply bg-[#333] text-white uppercase flex items-center justify-center cursor-pointer tracking-wider  font-semibold rounded-md 
         shadow-[0_5px_15px_rgba(0,0,0,0.15)] hover:bg-[#868686] hover:text-[#333] hover:scale-110 
         py-3 px-6 text-base md:text-2xl transition duration-300 ease-in-out md:w-[200px];
}

/* Hero loader arrow pointing down */
.loader-white {
  width: 15px;
  height: 20px;
  margin-left: 15px;
  background: #fff;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: bump 0.4s ease-in infinite alternate;
}
.loader-white::after {
  content: "";
  box-sizing: border-box;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  position: absolute;
  border: 15px solid transparent;
  border-top-color: #fff;
}
.loader-black {
  width: 15px;
  height: 20px;
  margin-left: 15px;
  background: #333;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: bump 0.4s ease-in infinite alternate;
}
.loader-black::after {
  content: "";
  box-sizing: border-box;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  position: absolute;
  border: 15px solid transparent;
  border-top-color: #333;
}

@keyframes bump {
  0% {
    transform: translate(-50%, 5px);
  }
  100% {
    transform: translate(-50%, -5px);
  }
}

/* Wiggle animation for buttons */
.wiggle-on-hover:hover {
  animation: wiggle 1s ease-in-out infinite;
}
@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
