@import "tailwindcss";

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.navbar-btn {
  @apply bg-[#333] text-white uppercase tracking-widest font-bold rounded-md 
         shadow-[0_5px_15px_0_rgba(0,0,0,0.15)] hover:bg-[#7843E9]  transition-all duration-300
         py-2 px-4 text-sm w-32 flex justify-center items-center border border-gray-400;
}

@media (max-width: 768px) {
  .navbar-link {
    @apply w-36 h-8 text-base justify-center border-0;
  }
}

.hero-heading {
  @apply text-3xl md:text-5xl lg:text-7xl font-extrabold text-white uppercase;
}

.hero-secondary {
  @apply max-w-2xl text-base md:text-lg lg:text-2xl text-[#f3f3f3];
}

.hero-btn {
  @apply bg-[#333] text-white uppercase flex items-center justify-center cursor-pointer tracking-wider  font-semibold rounded-md 
         shadow-[0_5px_15px_rgba(0,0,0,0.15)] hover:bg-[#7843E9]  hover:scale-110 
         py-3 px-6 text-base md:text-xl transition duration-300 ease-in-out md:w-48;
}

.hero-resume-btn {
  @apply bg-[#7843E9] text-white uppercase flex items-center justify-center cursor-pointer tracking-wider  font-semibold rounded-md 
         shadow-[0_5px_15px_rgba(0,0,0,0.15)]   hover:scale-110 
         py-3 px-6 text-base md:text-xl transition duration-300 ease-in-out md:w-48;
}

.contact-btn {
  @apply bg-[#7843E9] text-white uppercase flex items-center justify-center cursor-pointer tracking-wider font-semibold rounded-md 
         shadow-[0_5px_15px_rgba(0,0,0,0.15)]  hover:scale-110 
         text-xl md:text-2xl transition duration-300 ease-in-out 
         w-full md:w-48 h-14;
}

/* Mouse loader */
.loader {
  width: 1.875rem;
  height: 3.125rem;
  box-sizing: border-box;
  border: 0.125rem solid #fff;
  position: relative;
  border-radius: 50% 50% 50% 50% / 25% 25% 25% 25%;
}

.loader::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%);
  width: 0.3125rem;
  height: 0.3125rem;
  background: #7843e9;
  border-radius: 50%;
  animation: fadeDown 1s ease-out infinite;
}

@keyframes fadeDown {
  0% {
    top: 0%;
    opacity: 1;
  }
  100% {
    top: 60%;
    opacity: 0;
  }
}

/* Wiggle animation for buttons */
.wiggle-on-hover:hover {
  animation: wiggle 1s ease-in-out infinite;
}
@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

/* Emails loader */
.email-loader {
  width: 1.5rem;
  height: 1.5rem;
  border: 0.1875rem solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
Add unique spacing for <hr /> section dividers
*/
.section-divider {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  border: none;
  border-top: 2px solid #fff;
  width: 100%;
  opacity: 0.15;
}

@media (max-width: 768px) {
  .section-divider {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
